.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  font-size: 2.4rem;
  color: rgb(255, 255, 355);
}

.help {
  padding-left: 2rem;
  border-left: 2px solid rgb(255, 255, 255);
  line-height: 1.2;
}

@media (max-width: 430px) {
  .wrapper {
    align-items: default;
    gap: 1rem;
  }

  .help {
    line-height: 2rem;
    margin-left: 1rem;
    padding-left: 2rem;
  }
}
